# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Ignore STM32CubeIDE debug files
firmware/stm32/Debug/*
firmware/stm32/.settings/*

# Ignore laptop_mainBrain files
firmware\laptop_mainBrain\__pycache__
firmware\laptop_mainBrain\triflamex_ros2_pkg\build
firmware\laptop_mainBrain\triflamex_ros2_pkg\install
firmware\laptop_mainBrain\triflamex_ros2_pkg\log
firmware\laptop_mainBrain\triflamex_ros2_pkg\resource
firmware\laptop_mainBrain\triflamex_ros2_pkg\test
